main {
  padding: 1rem;
}

@media screen and (min-width: 585px) {
  main {
    padding: 1rem 2rem;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: start;
  grid-column: span 2;

  @media (min-width: 585px) {
    grid-column: span 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(52, auto);
  gap: min(0.75vw, 0.375rem);
  grid-column: span 2;
}

.week {
  max-inline-size: 0.375rem;
  aspect-ratio: 1 / 1;
  background: var(--color-secondary);
}

.lived {
  background: var(--color-primary);
}

footer {
  padding: 1rem 0;
}
